<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1b9974e8-f6bd-071d-9d70-3087ebafe4e5</ProjectGuid>
    <DesktopBuildPackageLocation>D:\source\发布目录\Synerixis.Api.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>synerixis.com</DeployIisAppPath>
    <_TargetId>IISWebDeployPackage</_TargetId>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>